---
import { FolderStructure } from "@/components/logs/react-folder-architecture/folder-structure";
import { StoreWeb } from "@/components/logs/react-folder-architecture/store-web";
import BaseLayout from "@/layouts/BaseLayout.astro";
const pageTitle = "Frontend folder architecture";
---

<BaseLayout pageTitle={pageTitle}>
  <section class="prose prose-sm dark:prose-invert">
    <h1>Frontend folder architecture</h1>
    <p>
      Certainly, the folder structure is one of those decisions that, if not
      made well from the beginning, can lead to many problems as the code
      scales.
    </p>
    <p>
      Bad folder skeletons exist, just as good ones do. Fortunately, modern IDE
      refactoring tools and AI coding agents allow files and folders to be moved
      without many complications.
    </p>
    <p>
      In this post, we will look at the folder structure that I propose for a
      clean architecture for React with TS, so you will see naming specific to
      these technologies, but it can be applied to any other frontend
      library/framework. Feel free to adapt it to your needs 🙂
    </p>
    <h2>Do we still need an architecture in the AI era?</h2>
    <p>
      This is not the first time I write this article. A few years ago I
      published one similar on <a
        href="https://juanoa.medium.com/folder-structure-in-a-react-hexagonal-architecture-f926437c0c1a"
        >Medium</a
      > and dev.to. It was one of my most read articles I've ever publish. In 2023,
      AI was a baby, the first LLMs appeared, but coding didn't change yet.
    </p>
    <p>
      Today, it changes a lot. Claude Code, Codex, Copilot and many other tools
      are almost mandatory in every tech job. At MITO, we write the most of the
      web code using those tools. However, I know where is located almost every
      piece of code in the project. I remember the file names, the types, the
      components, ... It could be like a waste of time in this AI era, but it
      saves me a lot of time when I need to my hands dirty.
    </p>
    <h2>It's all about domain</h2>
    <p>
      DDD (Domain Driven Design) is not only about backend. Frontend should
      split the code in different domains. Let's take a look to this example:
    </p>
  </section>
  <div class="my-20">
    <StoreWeb client:load />
  </div>
  <section class="prose prose-sm dark:prose-invert">
    <p>
      Welcome to the biggest water e-commerce: Water-Commerce! I'm sorry, I've
      worked for 4 years on one of the biggest e-commerce on Earth, the example
      must be another online store.
    </p>
    <p>As you can see, we can differentiate 2 domains:</p>
    <ul>
      <li>Product</li>
      <li>Cart</li>
      <li>Payment</li>
    </ul>
    <p>A common folder structure for this project would look like this:</p>
  </section>
  <div class="my-20">
    <FolderStructure client:load />
  </div>
  <section class="prose prose-sm dark:prose-invert">
    <p>Do you see the problem?</p>
  </section>
</BaseLayout>
