---
import BaseLayout from "@/layouts/BaseLayout.astro";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<BaseLayout pageTitle={title}>
  <article class="prose prose-sm dark:prose-invert">
    <h1>{title}</h1>
    <slot />
  </article>
</BaseLayout>
