---
import { CollocationsSearchBar } from "@/components/CollocationsSearchBar";
import { Logo } from "@/components/Logo";
import { Button } from "@juan/ui/components/ui/button";

interface Props {
  showSearchBar?: boolean;
}

const { showSearchBar = true } = Astro.props;

if (!showSearchBar) {
  return null;
}
---

<header
  class="mx-auto flex w-full max-w-xl items-center justify-center gap-2 p-6">
  <Button variant="ghost" className="size-10">
    <a href="/">
      <Logo className="size-8" />
    </a>
  </Button>
  <CollocationsSearchBar client:load />
</header>
