---
import collocations from "../../content/collocations.json";
import Layout from "src/layouts/Layout.astro";

interface Collocation {
  label: string;
  slug: string;
}

export function getStaticPaths() {
  return (collocations as Collocation[]).map((collocation) => ({
    params: { slug: collocation.slug },
    props: { collocation },
  }));
}

const { collocation } = Astro.props as { collocation: Collocation };
---

<Layout title={collocation.label}>
  <main class="mx-auto flex min-h-screen max-w-4xl px-6">
    <h1 class="text-3xl font-semibold mt-48">{collocation.label}</h1>
  </main>
</Layout>
