---
import Layout from "src/layouts/Layout.astro";
---

<Layout title="About">
  <main class="mx-auto max-w-3xl px-6">
    <article class="prose dark:prose-invert mt-40 mb-20">
      <h1>About</h1>
      <p>I used to struggle with English.</p>
      <p>
        It was always my Achilles' heel. When I was young, in high school, I
        hated studying new languages. I didn't see any real benefit in my life
        from learning them.
      </p>
      <p>Now I feel pretty stupid about that decision.</p>
      <p>
        I've been studying English and have been pushing hard at it for almost a
        year. One of the things that helped me the most was <b>collocations</b>.
        That's the reason behind this project.
      </p>

      <h2>What is a collocation?</h2>
      <p>
        A collocation is a group of words that are commonly used together. For
        example:
      </p>
      <ul>
        <li>Leave a comment</li>
        <li>Ask for feedback</li>
      </ul>

      <h2>This project</h2>
      <p>
        I've created this project for one reason: to help me find collocations
        for specific situations.
      </p>
      <p>
        It's biased toward my job as a software engineer, so most of the
        collocations are related to this field. Also, I tend to use American
        English rather than British English.
      </p>
      <p>
        This project is public on GitHub, so you can take a look
        <a href="https://github.com/juanoa/juan.md/tree/main/apps/collocations"
          >here</a
        >.
      </p>
    </article>
  </main>
</Layout>
