---
export const prerender = true;

import Layout from "src/layouts/Layout.astro";
import { CollocationsSearchBar } from "src/components/CollocationsSearchBar";
import CollocationsColumns from "src/components/CollocationsColumns.astro";
import PronunciationButton from "src/components/PronunciationButton.astro";
import { RandomCollocationButton } from "src/components/RandomCollocationButton";
import { getCollocations } from "src/lib/data";
import type { Collocation } from "src/types/Collocation";
import { EnvelopeIcon } from "@juan/ui/icons/phosphor";

const allCollocations = (await getCollocations()) as Collocation[];
const latestCollocations = allCollocations.slice(-9).reverse();
const collocationSlugs = allCollocations.map(({ slug }) => slug);
---

<Layout showSearchBar={false}>
  <main class="mx-auto w-full max-w-4xl items-start justify-center px-6">
    <section class="mx-auto mt-48 mb-10 w-full max-w-xl space-y-2">
      <h1 class="text-4xl font-bold tracking-tight">Collocations</h1>
      <div class="text-muted-foreground flex items-center gap-2">
        <p class="font-serif text-xl tracking-tight">/ˌkɑː.ləˈkeɪ.ʃənz/</p>
        <PronunciationButton />
      </div>
    </section>
    <section
      class="mx-auto flex w-full max-w-xl flex-col items-center gap-2 md:flex-row">
      <CollocationsSearchBar client:load />
      <RandomCollocationButton
        client:load
        slugs={collocationSlugs}
        className="h-10 w-full md:w-fit"
      />
    </section>
    <section class="mt-24 mb-10 w-full space-y-2">
      <h2 class="font-semibold">Last</h2>
      <CollocationsColumns items={latestCollocations} />
    </section>
    <section class="mt-20 text-center">
      <a
        href="/newsletter"
        class="text-sm underline decoration-dotted underline-offset-4">
        <EnvelopeIcon className="inline" />
        <span>Get a new collocation every weekday</span>
      </a>
    </section>
  </main>
</Layout>
