---
import Layout from "src/layouts/Layout.astro";
import { CollocationsSearchBar } from "src/components/CollocationsSearchBar";
import PronunciationButton from "src/components/PronunciationButton.astro";
import { RandomCollocationButton } from "src/components/RandomCollocationButton";
import { getCollocations } from "src/lib/data";
import type { Collocation } from "src/types/Collocation";

const allCollocations = (await getCollocations()) as Collocation[];
const latestCollocations = allCollocations.slice(-9).reverse();
const collocationSlugs = allCollocations.map(({ slug }) => slug);
---

<Layout showSearchBar={false}>
  <main class="mx-auto w-full max-w-4xl items-start justify-center px-6">
    <section class="mx-auto mt-48 mb-10 w-full max-w-xl space-y-2">
      <h1 class="text-4xl font-bold tracking-tight">Collocations</h1>
      <div class="text-muted-foreground flex items-center gap-2">
        <p class="font-serif text-xl tracking-tight">/ˌkɑː.ləˈkeɪ.ʃənz/</p>
        <PronunciationButton />
      </div>
    </section>
    <section
      class="mx-auto flex w-full max-w-xl flex-col items-center gap-2 md:flex-row">
      <CollocationsSearchBar client:load />
      <RandomCollocationButton
        client:load
        slugs={collocationSlugs}
        className="h-10 w-full md:w-fit"
      />
    </section>
    <section class="mt-24 w-full space-y-2">
      <h2 class="font-semibold">Last</h2>
      <ul class="text-muted-foreground grid grid-cols-2 gap-3 md:grid-cols-3">
        {
          latestCollocations.map((item) => (
            <li>
              <a
                class="hover:text-foreground line-clamp-1 text-sm transition-colors"
                href={`/${item.slug}`}>
                {item.label}
              </a>
            </li>
          ))
        }
      </ul>
    </section>
  </main>
</Layout>
