---
import Layout from "src/layouts/Layout.astro";
---

<Layout title="Privacy Policy">
  <main class="mx-auto max-w-3xl px-6">
    <article class="prose dark:prose-invert mt-40 mb-20">
      <h1>Privacy Policy</h1>
      <p>
        I want to be clear with this, so no long and unreadable privacy policies
      </p>
      <h2>What data do I collect?</h2>
      <ul>
        <li>
          Navigation analytics using <b>Vercel analytics</b>. <a
            href="https://vercel.com/docs/analytics/privacy-policy">Here</a
          > you have more information about its privacy policy. I only use this data
          to know basic data about how people use this website.
        </li>
        <li>
          Emails using <b>Resend</b>. This is only for the newsletter. If you
          don't subscribe to the newsletter, this doesn't apply. The emails and
          job role are managed by Resend. <a href="https://resend.com/security"
            >Here</a
          > you can find it's privacy policy.
        </li>
      </ul>
      <p>
        You can unsubscribe for the newsletter using the link at the footer of
        one of the emails.
      </p>
      <p>
        You can contact me about this privacy policy using this email
        juanoa.otalora [@] gmail .com.
      </p>
    </article>
  </main>
</Layout>
