---
import { getCollection, render } from "astro:content";
import BaseLayout from "../layouts/BaseLayout.astro";
import PostLayout from "@/layouts/PostLayout.astro";

export async function getStaticPaths() {
  const allPosts = await getCollection("posts", ({ data }) => !data.draft);

  return allPosts.map((post) => ({
    params: { slug: post.id.replace(/\/index\.mdx?$/, "") },
    props: { post },
  }));
}

const { post } = Astro.props;
const { Content } = await render(post);
---

<PostLayout pageTitle={post.data.title} showHeader>
  <h1>{post.data.title}</h1>
  <Content />
</PostLayout>
