---
import BaseLayout from "../layouts/BaseLayout.astro";
import Post from "../components/Post.astro";

const pageTitle = "About me";
---

<BaseLayout pageTitle={pageTitle} showHeader freeLayout>
  <section
    class="relative flex h-lvh w-full flex-col items-center justify-center overflow-hidden text-4xl font-bold uppercase sm:text-6xl md:text-7xl lg:text-8xl xl:text-9xl"
  >
    <video
      class="absolute inset-0 h-full w-full object-cover"
      src="/videos/here-is-to-the-crazy-ones.mp4"
      autoplay
      muted
      loop
      playsinline
      aria-hidden="true"></video>
    <span class="relative z-10 text-white mix-blend-difference">
      I build because
    </span>
    <span class="relative z-10 text-white mix-blend-difference">I believe</span>
  </section>
  <section class="mx-auto max-w-7xl px-2 py-40">
    <h2 class="text-3xl uppercase">Working with the best</h2>
    <div class="mt-20 flex flex-col gap-15 font-extrabold uppercase">
      <div
        class="gap-0md:gap-10 flex flex-col items-center justify-between md:flex-row"
      >
        <div class="flex flex-col justify-between text-5xl">
          <span>Now*</span>
          <span>Oct. 2025</span>
        </div>
        <span class="text-5xl md:text-9xl">MITO AI</span>
      </div>
      <div
        class="flex flex-col items-center justify-between gap-0 md:flex-row md:gap-10"
      >
        <div class="flex flex-col justify-between text-5xl">
          <span>Oct. 2025</span>
          <span>Oct. 2021</span>
        </div>
        <span class="text-5xl md:text-9xl">Inditex</span>
      </div>
    </div>
    <div class="mt-20">
      <p class="text-3xl uppercase">For what we <b>build</b></p>
      <p class="text-3xl uppercase">For what we <b>feel</b></p>
      <p class="text-3xl uppercase">For what we <b>tell</b></p>
    </div>
  </section>
</BaseLayout>
