---
import Logo from "../components/logo.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
import PrimaryLinks from "../components/PrimaryLinks.astro";
import Globe from "../components/Globe";
const pageTitle = "Juan Otálora";
---

<BaseLayout pageTitle={pageTitle}>
  <div class="flex h-screen flex-col lg:flex-row">
    <!-- Left Panel -->
    <div
      class="relative hidden flex-1 flex-col overflow-hidden bg-black text-white lg:flex"
    >
      <div
        class="relative z-10 p-10 text-xs leading-[1.4] tracking-[2px] uppercase"
      >
        Frontend<br />Design<br />Product
      </div>
      <!-- Globe -->
      <div class="absolute inset-0 flex items-center justify-center">
        <div class="h-[115%] w-[115%]">
          <Globe client:only="react" />
        </div>
      </div>
    </div>

    <!-- Right Panel -->
    <div class="flex flex-1 flex-col justify-between gap-20 bg-[#f5f5f5] p-10">
      <div class="flex items-start justify-between">
        <Logo />
        <img
          src="/images/me.webp"
          alt="Juan Otalora"
          class="hidden h-20 w-20 rounded-full object-cover sm:block"
        />
      </div>

      <div class="flex flex-col">
        <div
          class="mb-10 grid grid-cols-1 gap-x-10 gap-y-2.5 border-b border-[#ccc] pb-10 text-sm tracking-wide uppercase md:grid-cols-2"
        >
          <a
            href="https://github.com/juanoa"
            target="_blank"
            class="order-1 font-medium text-black no-underline md:order-1"
            >GitHub</a
          >
          <a
            href="mailto:juanoa.otalora@gmail.com"
            target="_blank"
            class="order-4 font-medium text-black no-underline md:order-2"
            >juanoa.otalora@gmail.com</a
          >
          <a
            href="https://x.com/juanoa_"
            target="_blank"
            class="order-2 font-medium text-black no-underline md:order-3">X</a
          >
          <a
            href="mailto:juan@mito.ai"
            target="_blank"
            class="order-5 font-medium text-black no-underline md:order-4"
            >juan@mito.ai</a
          >
          <a
            href="https://linkedin.com/in/juanoa"
            target="_blank"
            class="order-3 font-medium text-black no-underline md:order-5"
            >LinkedIn</a
          >
        </div>
        <PrimaryLinks />
      </div>
    </div>
  </div>
</BaseLayout>
