---
const { chapters, currentSlug } = Astro.props;
---

<nav class="pl-10">
  <ul class="space-y-1">
    {
      chapters.map((chapter) => {
        const isActive = chapter.slug === currentSlug;
        return (
          <li>
            <a
              href={`/frontend/${chapter.slug}`}
              class={`block py-2 text-sm uppercase transition-colors text-black hover:text-black/70 ${isActive&& "font-bold"}`}
            >
              {chapter.data.sidebar.label || chapter.data.title}
            </a>
          </li>
        );
      })
    }
  </ul>
</nav>
