---
const { isHomePage } = Astro.props;
---

<header class="mb-10 text-lg">
  {
    isHomePage ? (
      <h1>
        <a href="https://juan.md">Juan Otálora</a>
      </h1>
    ) : (
      <p>
        <a href="https://juan.md">Juan Otálora</a>
      </p>
    )
  }
  <p class="text-muted-foreground leading-none">Engineer @ MITO AI</p>
</header>
