<a
  href="/"
  class="flex flex-col no-underline hover:opacity-80 transition-opacity"
>
  <h1 class="text-[4rem] md:text-[4rem] font-normal uppercase leading-none">
    Juan<br />Otalora
  </h1>
  <span class="text-sm uppercase">Frontend Engineer @ MITO AI</span>
</a>
