---
import SharpRightArrowIcon from "./SharpRightArrowIcon.astro";

const { class: additionalClass } = Astro.props;
const containerClass = ["flex flex-col gap-8", additionalClass]
  .filter(Boolean)
  .join(" ");
---

<div class={containerClass}>
  <a
    href="/about"
    class="group flex items-center justify-between border-b border-[#ccc] pb-5 text-black no-underline"
  >
    <span
      class="text-[32px] font-light transition-transform duration-200 ease-out group-hover:-translate-y-0.5 group-hover:scale-[1.02] lg:text-[48px]"
    >
      About
    </span>
    <SharpRightArrowIcon
      class="h-12 w-12 transition-transform duration-200 ease-out group-hover:translate-x-1 group-hover:-translate-y-0.5 group-hover:scale-[1.03] lg:h-16 lg:w-16"
    />
  </a>
  <a
    href="/frontend"
    class="group flex items-center justify-between border-b border-[#ccc] pb-5 text-black no-underline transition-opacity hover:opacity-80"
  >
    <span
      class="text-[32px] font-light transition-transform duration-200 ease-out group-hover:-translate-y-0.5 group-hover:scale-[1.02] lg:text-[48px]"
    >
      Frontend Handbook
    </span>
    <SharpRightArrowIcon
      class="h-12 w-12 transition-transform duration-200 ease-out group-hover:translate-x-1 group-hover:-translate-y-0.5 group-hover:scale-[1.03] lg:h-16 lg:w-16"
    />
  </a>
  <div class="flex items-center justify-between border-b border-[#ccc] pb-5">
    <span class="text-[32px] font-light lg:text-[48px]">Opinion</span>
    <span class="text-[48px] font-light lg:text-[72px]">WIP</span>
  </div>
</div>
