---
import Header from "@/components/Header.astro";
import "../styles/global.css";
import Analytics from "@vercel/analytics/astro";

const { pageTitle, isHomePage } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width" />
    <Analytics />
    <title>{pageTitle}</title>
  </head>
  <body class="bg-neutral-50">
    <div class="mx-auto max-w-[65ch] px-6 py-12">
      <Header isHomePage={isHomePage} />
      <slot />
    </div>
  </body>
</html>
