---
import BaseLayout from "./BaseLayout.astro";
import HandbookSidebar from "../components/HandbookSidebar.astro";
import HandbookMobileNav from "../components/HandbookMobileNav.astro";

const { pageTitle } = Astro.props;
---

<BaseLayout pageTitle={pageTitle} showHeader={true}>
  <main class="min-h-screen w-full px-10">
    <article class="prose prose-lg mx-auto pb-10">
      <slot />
    </article>
  </main>
</BaseLayout>
